version: '3.8'

services:
  homie:
    build: .
    ports:
      - '3000:3000'
    environment:
      - HOME_ASSISTANT_URL=${HOME_ASSISTANT_URL}
      - HOME_ASSISTANT_TOKEN=${HOME_ASSISTANT_TOKEN}
      - JELLYFIN_URL=${JELLYFIN_URL}
      - JELLYFIN_API_KEY=${JELLYFIN_API_KEY}
      - JELLYFIN_USERNAME=${JELLYFIN_USERNAME}
      - JELLYFIN_PASSWORD=${JELLYFIN_PASSWORD}
      - NEXT_PUBLIC_JELLYFIN_URL=${JELLYFIN_URL}
      - NEXT_PUBLIC_JELLYFIN_API_KEY=${JELLYFIN_API_KEY}
    restart: unless-stopped
